---
#引入PHP运行环境元数据，并初始化
- include_vars: roles/role_php/vars/php_runtime_meta.yml

#Modify var for this playbook
- set_fact:
    discuz_vhost_dir: "{{php_runtime_meta[ansible_os_family][discuz_webs].vhost_dir}}"
    discuz_vhost_src: "{{php_runtime_meta[ansible_os_family][discuz_webs].vhost_src}}"
    discuz_service: "{{php_runtime_meta[ansible_os_family][discuz_webs].service}}"
    discuz_owner: "{{php_runtime_meta[ansible_os_family][discuz_webs].owner}}"
    discuz_db_password: "{{mysql_root_password}}"

- debug:
    msg: runtime {{ discuz_vhost_dir }}, {{discuz_vhost_src}}, {{discuz_service}}, {{discuz_owner}}, {{discuz_webs}}, {{ansible_distribution}}

# Discuz!X3.4
- name: Remove extra dir
  shell: |
    rm -rf /data/wwwroot/*{{discuz_name}}*
    
- name: Create discuz directory
  file:
    path: /data/wwwroot/{{discuz_name}}
    state: directory
  
 #仅用于本单独项目，多应用项目请忽略本任务   
- block:
  - name: Download Discuz!X3.4
    git:
      repo: "{{discuz_download_url}}"
      dest: /data/wwwroot/discuz
      version: "{{ discuz_version }}"
    when: discuz_latest == "discuzx34"
  - name: Download Discuz!X3.3
    unarchive:
      src: "https://libs.websoft9.com/apps/Discuz_X3.3_SC_UTF8.zip"
      dest: /data/wwwroot/{{discuz_name}}
      remote_src: yes
    when: discuz_latest == "discuzx33"
    
  - name: copy discuz config
    template: src=config_global_default.php dest=/data/wwwroot/discuz/upload/config/config_global_default.php
  when: discuz_latest != "discuzq"
  
- name: Install php-zip module
  shell: yum install php-pecl-zip -y
  when: ansible_os_family == "RedHat"

- name: Install php-zip module
  shell: apt install php{{php_version}}-zip -y
  when: ansible_os_family == "Debian"
  
- name: Download discuzq
  unarchive:
    src: "{{discuzq_download_url}}"
    dest: /data/wwwroot/discuz
    remote_src: yes
  when: discuz_latest == "discuzq"
  
- name: Rename dir name
  shell: cd /data/wwwroot; if [ ! -d "{{discuz_name}}" ]; then mv *{{discuz_name}}* {{discuz_name}}; fi
  
- name: Change discuzq configure 
  shell: |
    sed -i 's/<input name="mysqlDatabase">/<input name="mysqlDatabase" value="discuz">/g' /data/wwwroot/discuz/resources/views/install/install.blade.php
    sed -i 's/<input name="mysqlUsername">/<input name="mysqlUsername" value="discuz">/g'  /data/wwwroot/discuz/resources/views/install/install.blade.php
    sed -i 's/<input type="password" name="mysqlPassword">/<input type="password" name="mysqlPassword" value="'{{discuz_db_password}}'">/g' /data/wwwroot/discuz/resources/views/install/install.blade.php
    sed -i 's/<input type="text" name="tablePrefix">/<input type="text" name="tablePrefix" value="pre_">/g' /data/wwwroot/discuz/resources/views/install/install.blade.php
  when: discuz_latest == "discuzq"

# 系统通用
- name: Permission directory
  shell: find /data/wwwroot -type d -exec chmod 750 {} \;
  
- name: Permission file
  shell: find /data/wwwroot -not -type d -exec chmod 640 {} \;

# 根据不同的基础环境分别处理
- block:
  - name: Copy Nginx or Aapche vhost configuration
    template: src={{discuz_vhost_src}} dest={{discuz_vhost_dir}}
  
  - name: change owner&group
    shell: chown -R {{discuz_owner}}:{{discuz_owner}} /data/wwwroot
    
  - name: restart Apache or Nginx
    service: name={{discuz_service}} state=restarted enabled=yes

  - name: restart php-fpm
    service: name=php-fpm state=restarted
